.taskitem {
    border-left-width: 4px;

    &.high {
        border-left-color: #fa541c;
    }
    &.medium {
        border-left-color: #ffec3d;
    }
    &.low {
        border-left-color: #d3adf7;
    }
}

.taskitem-text {
    margin: 0 0 8px;

    &.empty {
        display: none;
    }
}

.taskitem-footer {
    display: flex;
    justify-content: space-between; align-items: baseline;
}
.taskitem-footer__actions {
    display: flex; gap: 8px;
    opacity: 0;
    transition: opacity .3s;    

    .taskitem:hover &,
    &:focus-within {
        opacity: 1;
    }
}
