.tasklist {
    display: flex; flex-direction: column;
    gap: 12px;
}

.divider {
    margin-bottom: 0 !important;
}
.divider > [class~=ant-divider-inner-text] > * {
    margin: 0;
}
.divider:after {
    background-color: #999;
}
